# Virtual Environment
env/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3

# VS Code
.vscode/

# Static files (optional)
staticfiles/

# OS files
.DS_Store
Thumbs.db